2we8avE8BzKnkeMVh78HFukX2LY4xJygFdGcmq1K2ixf,0.2
7QhwBKU3SMxaA1U1bK6aAzApqk7BEB9PxLaavV4VSEop,0.15
5aTRQwge4FTo8BX8kkwCkV9eKkx7dvnBsoCRnUrmX5GG,0.1
36WjA4AoY9VETZkZYsacnSPVLd2DoYc1zpLv8eJp4nRS,0.12
J6hN8gmPzt3vsJijQkEa7RKXXcsHXfiwT5hvJ2Bz9z49,0.3
TozPR4quLSmJrU9DCvhdLW8HnyumZdW1G2y4rhq311a,0.1
6hfCCgbgTHuZfUtvbEhzKfPrkA91ToMeb7rx2mZXWjVa,0.12
L8etuE8rmTSXfM2aPxQ2f6JgvUEa7jEmUegkainYqE7,0.14
HZU8HdyRXqh1mEPnpanmpcdSLyjYSBd3Dpp3um6UGuMz,0.12
GRU8VH4DTvWvLQSyNB4jmEJiESGS6uxA4wtnF6c5L4fA,0.15
Z7XnQz7Qp6trhov2JL88XMwD1oQKEXDubgxU232L7mT,0.17
C53HyA1k1f8DounMjw7wxbWbYKcssrNrGZTaEGCTK3YT,0.22
7eq2MycEwWco1fwzv7oxLEy5DZz58J1vJnifspVrKzhr,0.13
9mLqFYyLsg8cmNZdBvNKQ8pVLpkmcmbHwu2e4V5vgbD7,0.14
E1zB6nBdh58ZaMpEnUtHuRHH6RUbFum4aKoFo2ooVMi1,0.16